/* general */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

Html {
	/* ( this equals 10px (10/16=0.625 x 100 = 62.4%)); therefore 1rem = 10px */
	font-size: 62.5%;
	font-family: "Nova Square", cursive;
}

body {
	background-color: green;
	box-sizing: border-box;
}

.container-fluid {
	width: auto;
}

/* nav/header */

.headerTop {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.title {
	margin-right: 7rem;
	font-weight: 700;
	font-size: 7rem;
}

.logoImg {
	width: 250px;
	height: 200px;
}

/* video */

.headerVideo {
	clip-path: polygon(0% 12%, 100% 24%, 100% 100%, 0% 82%);
	width: 100%;
}

/* Main */

main {
	background-color: blue;
}

.spacerBox {
	clip-path: polygon(0 55%, 100% 78%, 100% 100%, 0 100%);
	background-color: green;
	height: 50rem;
	margin-top: -10rem;
}

.carousel-inner {
	width: auto;
}

.carousel-item {
	border: 2px solid red;
	margin-top: 5rem;
}

.carousel-control-next,
.carousel-control-prev {
	width: 7%;
}

.space {
	display: flex;
	justify-content: space-evenly;
}

.card {
	display: inline-block;
	width: 30em;
	border: 20px solid black;
	border-radius: 2rem;
	height: 50rem;
	margin: 0rem 3rem;

	background-size: 100% 100%;
	position: relative;
}

.card:nth-child(odd) {
	background-image: url("../img/profile1.jpg");
}

.card:nth-child(even) {
	background-image: url("../img/profile2.jpg");
}

.card-head {
	background-color: red;
	text-align: center;
}

.card-head h4 {
	padding: 1rem;
}

.card-top {
	position: absolute;
	bottom: 18%;
	width: 70% !important;
}

.card-body {
	position: absolute;
	bottom: 0;
	background-color: red;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
	align-items: center;
	column-gap: 2rem;
	row-gap: 1rem;
}

.grid-item:nth-child(odd) {
	color: black;
	border: 1px solid black;
	text-shadow: 1px 1px 2px rgba(000, 000, 000, 0.7),
		0px 1px 0px rgba(255, 255, 255, 0.4);
	background: rgb(0, 188, 212);
	border-radius: 5rem;
	padding: 0.5rem 0.5rem;
	width: 10rem;
}

.progress {
	margin: 0.5rem 0rem;
	width: 10rem;
}

/* calender */
a {
	text-decoration: none;
}

.calendar {
	background: #2b4450;
	border-radius: 4px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	height: 501px;
	perspective: 1000;
	transition: 0.9s;
	transform-style: preserve-3d;
	width: 100%;
}

.current-date {
	border-bottom: 1px solid rgba(73, 114, 133, 0.6);
	display: flex;
	justify-content: space-between;
	padding: 30px 40px;
}

.current-date h1 {
	color: #dfebed;
	font-size: 1.4em;
	font-weight: 300;
}

.week-days {
	color: #dfebed;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	padding: 30px 40px;
	list-style-type: none;
}

.days {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.weeks {
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 0 40px;
}

.weeks div {
	display: flex;
	font-size: 1.2em;
	font-weight: 300;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
}

.last-month {
	opacity: 0.3;
}

.weeks span {
	padding: 10px;
}

.weeks span.active {
	background: #f78536;
	border-radius: 50%;
}

/* accordion */
.accordion-header {
	display: flex;
}

/* footer */

.mailInput {
	width: 90%;
	padding: 0;
}

/* new Calender */

#calendar {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	width: 420px;
	margin: 0 auto;
	height: 570px;
	overflow: hidden;
}

.header {
	height: 50px;
	width: 420px;
	background: rgba(66, 66, 66, 1);
	text-align: center;
	position: relative;
	z-index: 100;
}

.header h1 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 50px;
	font-weight: 100;
	letter-spacing: 1px;
}

.left,
.right {
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	top: 50%;
	margin-top: -7.5px;
	cursor: pointer;
}

.left {
	border-width: 7.5px 10px 7.5px 0;
	border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
	left: 20px;
}

.right {
	border-width: 7.5px 0 7.5px 10px;
	border-color: transparent transparent transparent rgba(160, 159, 160, 1);
	right: 20px;
}

.month {
	/*overflow: hidden;*/
	opacity: 0;
}

.month.new {
	opacity: 1;
}

.month.in.next {
	-webkit-animation: moveFromTopFadeMonth 0.4s ease-out;
	-moz-animation: moveFromTopFadeMonth 0.4s ease-out;
	animation: moveFromTopFadeMonth 0.4s ease-out;
	opacity: 1;
}

.month.out.next {
	-webkit-animation: moveToTopFadeMonth 0.4s ease-in;
	-moz-animation: moveToTopFadeMonth 0.4s ease-in;
	animation: moveToTopFadeMonth 0.4s ease-in;
	opacity: 1;
}

.month.in.prev {
	-webkit-animation: moveFromBottomFadeMonth 0.4s ease-out;
	-moz-animation: moveFromBottomFadeMonth 0.4s ease-out;
	animation: moveFromBottomFadeMonth 0.4s ease-out;
	opacity: 1;
}

.month.out.prev {
	-webkit-animation: moveToBottomFadeMonth 0.4s ease-in;
	-moz-animation: moveToBottomFadeMonth 0.4s ease-in;
	animation: moveToBottomFadeMonth 0.4s ease-in;
	opacity: 1;
}

.week {
	background: #4a4a4a;
}

.day {
	display: inline-block;
	width: 60px;
	padding: 10px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	background: #4a4a4a;
	position: relative;
	z-index: 100;
}

.day.other {
	color: rgba(255, 255, 255, 0.3);
}

.day.today {
	color: rgba(156, 202, 235, 1);
}

.day-name {
	font-size: 9px;
	text-transform: uppercase;
	margin-bottom: 5px;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: 0.7px;
}

.day-number {
	font-size: 24px;
	letter-spacing: 1.5px;
}

/* .day .day-events {
	list-style: none;
	margin-top: 3px;
	text-align: center;
	height: 12px;
	line-height: 6px;
	overflow: hidden;
}

.day .day-events span {
	vertical-align: top;
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 5px;
	height: 5px;
	line-height: 5px;
	margin: 0 1px;
} */

.blue {
	background: rgba(156, 202, 235, 1);
}
.orange {
	background: rgba(247, 167, 0, 1);
}
.green {
	background: rgba(153, 198, 109, 1);
}
.yellow {
	background: rgba(249, 233, 0, 1);
}

/* .details {
	position: relative;
	width: 420px;
	height: 75px;
	background: rgba(164, 164, 164, 1);
	margin-top: 5px;
	border-radius: 4px;
}

.details.in {
	-webkit-animation: moveFromTopFade 0.5s ease both;
	-moz-animation: moveFromTopFade 0.5s ease both;
	animation: moveFromTopFade 0.5s ease both;
}

.details.out {
	-webkit-animation: moveToTopFade 0.5s ease both;
	-moz-animation: moveToTopFade 0.5s ease both;
	animation: moveToTopFade 0.5s ease both;
}

.arrow {
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -2px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
	transition: all 0.7s ease;
} */

/* .events {
	height: 75px;
	padding: 7px 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.events.in {
	-webkit-animation: fadeIn 0.3s ease both;
	-moz-animation: fadeIn 0.3s ease both;
	animation: fadeIn 0.3s ease both;
}

.events.in {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.details.out .events {
	-webkit-animation: fadeOutShrink 0.4s ease both;
	-moz-animation: fadeOutShink 0.4s ease both;
	animation: fadeOutShink 0.4s ease both;
}

.events.out {
	-webkit-animation: fadeOut 0.3s ease both;
	-moz-animation: fadeOut 0.3s ease both;
	animation: fadeOut 0.3s ease both;
}

.event {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.5px;
	padding: 2px 16px;
	vertical-align: top;
}

.event.empty {
	color: #eee;
}

.event-category {
	height: 10px;
	width: 10px;
	display: inline-block;
	margin: 6px 0 0;
	vertical-align: top;
}

.event span {
	display: inline-block;
	padding: 0 0 0 7px;
} */

.legend {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background: rgba(60, 60, 60, 1);
	line-height: 30px;
}

/* .entry {
	position: relative;
	padding: 0 0 0 25px;
	font-size: 13px;
	display: inline-block;
	line-height: 30px;
	background: transparent;
} */

/* .entry:after {
	position: absolute;
	content: "";
	height: 5px;
	width: 5px;
	top: 12px;
	left: 14px;
}

.entry.blue:after {
	background: rgba(156, 202, 235, 1);
}
.entry.orange:after {
	background: rgba(247, 167, 0, 1);
}
.entry.green:after {
	background: rgba(153, 198, 109, 1);
}
.entry.yellow:after {
	background: rgba(249, 233, 0, 1);
} */

/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
	from {
		opacity: 0.3;
		height: 0px;
		margin-top: 0px;
		-webkit-transform: translateY(-100%);
	}
}
@-moz-keyframes moveFromTopFade {
	from {
		height: 0px;
		margin-top: 0px;
		-moz-transform: translateY(-100%);
	}
}
@keyframes moveFromTopFade {
	from {
		height: 0px;
		margin-top: 0px;
		transform: translateY(-100%);
	}
}

@-webkit-keyframes moveToTopFade {
	to {
		opacity: 0.3;
		height: 0px;
		margin-top: 0px;
		opacity: 0.3;
		-webkit-transform: translateY(-100%);
	}
}
@-moz-keyframes moveToTopFade {
	to {
		height: 0px;
		-moz-transform: translateY(-100%);
	}
}
@keyframes moveToTopFade {
	to {
		height: 0px;
		transform: translateY(-100%);
	}
}

@-webkit-keyframes moveToTopFadeMonth {
	to {
		opacity: 0;
		-webkit-transform: translateY(-30%) scale(0.95);
	}
}
@-moz-keyframes moveToTopFadeMonth {
	to {
		opacity: 0;
		-moz-transform: translateY(-30%);
	}
}
@keyframes moveToTopFadeMonth {
	to {
		opacity: 0;
		-moz-transform: translateY(-30%);
	}
}

@-webkit-keyframes moveFromTopFadeMonth {
	from {
		opacity: 0;
		-webkit-transform: translateY(30%) scale(0.95);
	}
}
@-moz-keyframes moveFromTopFadeMonth {
	from {
		opacity: 0;
		-moz-transform: translateY(30%);
	}
}
@keyframes moveFromTopFadeMonth {
	from {
		opacity: 0;
		-moz-transform: translateY(30%);
	}
}

@-webkit-keyframes moveToBottomFadeMonth {
	to {
		opacity: 0;
		-webkit-transform: translateY(30%) scale(0.95);
	}
}
@-moz-keyframes moveToBottomFadeMonth {
	to {
		opacity: 0;
		-webkit-transform: translateY(30%);
	}
}
@keyframes moveToBottomFadeMonth {
	to {
		opacity: 0;
		-webkit-transform: translateY(30%);
	}
}

@-webkit-keyframes moveFromBottomFadeMonth {
	from {
		opacity: 0;
		-webkit-transform: translateY(-30%) scale(0.95);
	}
}
@-moz-keyframes moveFromBottomFadeMonth {
	from {
		opacity: 0;
		-webkit-transform: translateY(-30%);
	}
}
@keyframes moveFromBottomFadeMonth {
	from {
		opacity: 0;
		-webkit-transform: translateY(-30%);
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut {
	to {
		opacity: 0;
	}
}
@-moz-keyframes fadeOut {
	to {
		opacity: 0;
	}
}
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOutShink {
	to {
		opacity: 0;
		padding: 0px;
		height: 0px;
	}
}
@-moz-keyframes fadeOutShink {
	to {
		opacity: 0;
		padding: 0px;
		height: 0px;
	}
}
@keyframes fadeOutShink {
	to {
		opacity: 0;
		padding: 0px;
		height: 0px;
	}
}

/* second page */
.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
	-ms-flex: 25%; /* IE10 */
	flex: 33%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}
