/* ***************** general **********************/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

Html {
	/* ( this equals 10px (10/16=0.625 x 100 = 62.4%)); therefore 1rem = 10px */
	font-size: 62.5%;
}

body {
	background-color: green;
	box-sizing: border-box;
	font-family: "Nova Square", cursive;
}

main {
	background-color: blue;
}
.container-fluid {
	width: auto;
}

/* scrollbar */

/* width */
/* ::-webkit-scrollbar {
	width: 15px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px white;
	border-radius: 10px;
	background-color: white;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
	background: green;
} */

/* nav/header */

header {
	background-color: blue;
}

header .col-md {
	max-width: fit-content;
}

.headerTop {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.title {
	margin-right: 7rem;
	font-weight: 700;
	font-size: 5rem;
}

.secondPage {
	/* position: absolute;
	top: 24%;
	right: 20%; */
	font-size: 2rem;
	color: black;
	width: auto;
	position: relative;
	z-index: 2;
}
.secondPage:hover {
	color: yellow;
}

.logoImg {
	width: 250px;
	height: 200px;
}

/* video */

.headerVideo {
	clip-path: polygon(0% 12%, 100% 24%, 100% 100%, 0% 82%);
	width: 100%;
	z-index: 1;
}

/* spacer creating slashes */

.spacerBox1,
.spacerBox2,
.spacerBox3 {
	clip-path: polygon(0 55%, 100% 78%, 100% 100%, 0 100%);
	background-color: green;
	height: 50rem;
	margin-top: -10rem;
}

.spacerBox1,
.carousel {
	background-color: red;
}

/* .spacerBox1Back {
	padding: 0rem;
} */

.spacerBox2 {
	background-color: blue;
}

.spacerBox2Back {
	background-color: red;
}

.spacerBox3 {
	background-color: green;
}

.spacerBox3Back {
	background-color: blue;
}

/* carousel top trump cards */

.carousel-inner {
	width: auto;
}

.carousel-item {
	border: 2px solid red;
	margin-top: 5rem;
}
.carousel-control-next,
.carousel-control-prev {
	width: 7%;
}

.space {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.card {
	display: inline-block;
	width: 30em;
	border: 20px solid black;
	border-radius: 2rem;
	height: 50rem;
	/* margin: 0rem 3rem; */
	background-size: 100% 100%;
	position: relative;
}

.card:nth-child(odd) {
	background-image: url("../img/profile1.jpg");
}

.card:nth-child(even) {
	background-image: url("../img/profile2.jpg");
}

.card-head {
	background-color: red;
	text-align: center;
}

.card-head h4 {
	padding: 1rem;
}

.card-top {
	position: absolute;
	bottom: 18%;
	width: 70% !important;
}

.card-body {
	position: absolute;
	bottom: 0;
	background-color: red;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
	align-items: center;
	column-gap: 2rem;
	row-gap: 1rem;
}

.grid-item:nth-child(odd) {
	color: black;
	border: 1px solid black;
	text-shadow: 1px 1px 2px rgba(000, 000, 000, 0.7),
		0px 1px 0px rgba(255, 255, 255, 0.4);
	background: rgb(0, 188, 212);
	border-radius: 5rem;
	padding: 0.5rem 0.5rem;
	width: 11rem;
}

.progress {
	/* margin: 0.5rem 0rem; */
	width: 10rem;
}

/* calender */

#calendar {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	width: 80%;
	margin: 0 auto;
	height: 570px;
	overflow: hidden;
}

.header {
	height: 50px;
	/* width: 100%; */
	background: rgba(66, 66, 66, 1);
	text-align: center;
	position: relative;
	z-index: 100;
}

.header h1 {
	/* margin: 0;
	padding: 0; */
	font-size: 20px;
	line-height: 50px;
	font-weight: 100;
	letter-spacing: 1px;
}

.left,
.right {
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	top: 50%;
	margin-top: -7.5px;
	cursor: pointer;
}

.left {
	border-width: 7.5px 10px 7.5px 0;
	border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
	left: 20px;
}

.right {
	border-width: 7.5px 0 7.5px 10px;
	border-color: transparent transparent transparent rgba(160, 159, 160, 1);
	right: 20px;
}

.month {
	/*overflow: hidden;*/
	opacity: 0;
}

.month.new {
	opacity: 1;
}

.month.in.next {
	-webkit-animation: moveFromTopFadeMonth 0.4s ease-out;
	-moz-animation: moveFromTopFadeMonth 0.4s ease-out;
	animation: moveFromTopFadeMonth 0.4s ease-out;
	opacity: 1;
}

.month.out.next {
	-webkit-animation: moveToTopFadeMonth 0.4s ease-in;
	-moz-animation: moveToTopFadeMonth 0.4s ease-in;
	animation: moveToTopFadeMonth 0.4s ease-in;
	opacity: 1;
}

.month.in.prev {
	-webkit-animation: moveFromBottomFadeMonth 0.4s ease-out;
	-moz-animation: moveFromBottomFadeMonth 0.4s ease-out;
	animation: moveFromBottomFadeMonth 0.4s ease-out;
	opacity: 1;
}

.month.out.prev {
	-webkit-animation: moveToBottomFadeMonth 0.4s ease-in;
	-moz-animation: moveToBottomFadeMonth 0.4s ease-in;
	animation: moveToBottomFadeMonth 0.4s ease-in;
	opacity: 1;
}

.week {
	background: #4a4a4a;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 8rem;
}

.day {
	display: inline-block;
	width: 60px;
	padding: 10px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	background: #4a4a4a;
	position: relative;
	z-index: 100;
}

.day.other {
	color: rgba(255, 255, 255, 0.3);
}

.day.today {
	color: rgba(156, 202, 235, 1);
}

.day-name {
	font-size: 9px;
	text-transform: uppercase;
	margin-bottom: 5px;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: 0.7px;
}

.day-number {
	font-size: 24px;
	letter-spacing: 1.5px;
}

/* Calender Animation */
@-webkit-keyframes moveFromTopFade {
	from {
		opacity: 0.3;
		height: 0px;
		margin-top: 0px;
		-webkit-transform: translateY(-100%);
	}
}
@-moz-keyframes moveFromTopFade {
	from {
		height: 0px;
		margin-top: 0px;
		-moz-transform: translateY(-100%);
	}
}
@keyframes moveFromTopFade {
	from {
		height: 0px;
		margin-top: 0px;
		transform: translateY(-100%);
	}
}

@-webkit-keyframes moveToTopFade {
	to {
		opacity: 0.3;
		height: 0px;
		margin-top: 0px;
		opacity: 0.3;
		-webkit-transform: translateY(-100%);
	}
}
@-moz-keyframes moveToTopFade {
	to {
		height: 0px;
		-moz-transform: translateY(-100%);
	}
}
@keyframes moveToTopFade {
	to {
		height: 0px;
		transform: translateY(-100%);
	}
}

@-webkit-keyframes moveToTopFadeMonth {
	to {
		opacity: 0;
		-webkit-transform: translateY(-30%) scale(0.95);
	}
}
@-moz-keyframes moveToTopFadeMonth {
	to {
		opacity: 0;
		-moz-transform: translateY(-30%);
	}
}
@keyframes moveToTopFadeMonth {
	to {
		opacity: 0;
		-moz-transform: translateY(-30%);
	}
}

@-webkit-keyframes moveFromTopFadeMonth {
	from {
		opacity: 0;
		-webkit-transform: translateY(30%) scale(0.95);
	}
}
@-moz-keyframes moveFromTopFadeMonth {
	from {
		opacity: 0;
		-moz-transform: translateY(30%);
	}
}
@keyframes moveFromTopFadeMonth {
	from {
		opacity: 0;
		-moz-transform: translateY(30%);
	}
}

@-webkit-keyframes moveToBottomFadeMonth {
	to {
		opacity: 0;
		-webkit-transform: translateY(30%) scale(0.95);
	}
}
@-moz-keyframes moveToBottomFadeMonth {
	to {
		opacity: 0;
		-webkit-transform: translateY(30%);
	}
}
@keyframes moveToBottomFadeMonth {
	to {
		opacity: 0;
		-webkit-transform: translateY(30%);
	}
}

@-webkit-keyframes moveFromBottomFadeMonth {
	from {
		opacity: 0;
		-webkit-transform: translateY(-30%) scale(0.95);
	}
}
@-moz-keyframes moveFromBottomFadeMonth {
	from {
		opacity: 0;
		-webkit-transform: translateY(-30%);
	}
}
@keyframes moveFromBottomFadeMonth {
	from {
		opacity: 0;
		-webkit-transform: translateY(-30%);
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut {
	to {
		opacity: 0;
	}
}
@-moz-keyframes fadeOut {
	to {
		opacity: 0;
	}
}
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOutShink {
	to {
		opacity: 0;
		padding: 0px;
		height: 0px;
	}
}
@-moz-keyframes fadeOutShink {
	to {
		opacity: 0;
		padding: 0px;
		height: 0px;
	}
}
@keyframes fadeOutShink {
	to {
		opacity: 0;
		padding: 0px;
		height: 0px;
	}
}

/* accordion */
.accordion {
	margin: 0rem auto;
	width: 80%;
	/* padding-right: 10rem; */
}

.accordion-header {
	display: flex;
}

/* footer */

.mailInput {
	width: 90%;
	/* padding: 0; */
}

footer .col-md {
	z-index: 1;
	margin-top: -5%;
	height: 15rem;
}

footer .col-md:nth-child(odd) {
	padding-left: 3rem;
}

.footerHeader {
	padding-left: 4rem;
	margin-bottom: 2rem;
}

.footerJoinHeader {
	margin-bottom: 2rem;
}
.fab {
	padding-left: 4rem;
}

/* *******************second page*************************** */

/* four equal columns layout */
.column {
	-ms-flex: 25%; /* IE10 */
	flex: 33%;
	max-width: 25%;
	/* padding: 0 4px; */
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Responsive layout - makes a two column-layout */
@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - two columns stacks  */
@media screen and (max-width: 600px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}

/* joiner Form */

.backgroundImgJoinerForm {
	background-image: url(/assets/img/joinImage.jpg);
	height: 70rem;
	width: 70vw;
	background-size: cover;
	background-position: center 0%;
	position: relative;
	margin: 15rem auto 0rem auto;
}

#emailForms {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	/* width: 30%; */
	padding: 0.5rem;
}

.joinerStyle {
	color: black;
	text-shadow: 1px 1px 2px rgba(000, 000, 000, 0.7),
		0px 1px 0px rgba(255, 255, 255, 0.4);
	background: rgb(194, 219, 223);
	padding: 0.5rem 0.5rem;
}

/* contact form */
.contactForm {
	width: 60%;
	height: 50vh;
	margin: 10% auto 1% auto;
	border: 20px solid lightslategrey;
	box-shadow: 7px 7px 20px #555;
	display: grid;
	grid-template-areas:
		"contactTitle divider postImage"
		"contactComments divider contactName"
		"contactComments divider contactEmail"
		". divider button";
}

.formTitle {
	grid-area: contactTitle;
	font-size: xx-large;
	align-self: center;
	margin: 0 3rem;
}

.postStamp {
	grid-area: postImage;
	margin-top: 2rem;
	margin-bottom: -2rem;
}

.contactName {
	grid-area: contactName;
	margin-left: -3rem;
}

.contactEmail {
	grid-area: contactEmail;
	margin-left: -3rem;
}

.hr {
	grid-area: divider;
	height: 90%;
	width: 0.5rem;
	margin: auto;
	background-color: black;
	border: 2px solid black;
}

.contactComments {
	width: 100%;
	margin-left: 3rem;
	grid-area: contactComments;
}

.contactBtn {
	grid-area: button;
	margin-left: -3rem;
}

.contactBtn button {
	padding: 1rem;
	width: 15rem;
}
